/* You can add global styles to this file, and also import other style files */
*{
    font-weight: 300;    
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: linear-gradient(to right, #f857a6, #ff5858);
}